<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.MenuMapper">
    <resultMap id="BaseMap" type="com.example.model.menu.Menu">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="parent_id" property="parentId" jdbcType="INTEGER"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="menu_name" property="menuName" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="auth" property="auth" jdbcType="VARCHAR"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="table">
        menu
    </sql>

    <sql id="baseColumn">
        id, parent_id, sort, menu_name, url, auth, icon, `type`
    </sql>

    <sql id="baseSelect">
        select
        <include refid="baseColumn" />
        from
        <include refid="table" />
    </sql>

    <select id="all" resultMap="BaseMap">
        <include refid="baseSelect" />
        order by sort, id
    </select>
</mapper>