<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">
    <resultMap id="UserMap" type="com.example.model.user.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="avatar" property="avatar" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="created" property="created" jdbcType="TIMESTAMP"/>
        <result column="lastLogin" property="lastLogin" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--public User getUser(Long id);-->
    <select id="getUser" resultType="com.example.model.user.User">
        select * from m_user where id = #{id}
    </select>

    <insert id="create" parameterType="com.example.model.user.User">
	    INSERT INTO  m_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">
                username,
            </if>
            <if test="avatar != null">
                avatar,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="created != null">
                created,
            </if>
        </trim>
        <trim prefix=" values (" suffix=")" suffixOverrides=",">
            <if test="username != null">
                #{username},
            </if>
            <if test="avatar != null">
                #{avatar},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="email != null">
                #{email},
            </if>
            <if test="password != null">
                #{password},
            </if>
            <if test="created != null">
                #{created},
            </if>
        </trim>
	</insert>

    <update id="update" parameterType="com.example.model.user.User">
        update m_user
        <set>
            <if test="username != null">
                username = ${username},
            </if>
            <if test="avatar != null">
                avatar = ${avatar},
            </if>
            <if test="status != null">
                status = ${status},
            </if>
            <if test="email != null">
                email = ${email},
            </if>
            <if test="password != null">
                password = ${password},
            </if>
            <if test="lastLogin != null">
                lastLogin = ${lastLogin},
            </if>
        </set>
        where id = ${id}
    </update>
</mapper>